@use '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.forbiceDestra,  .forbiceSinistra, .lineatratteggiata, .nuvola, .scritta {
  position: absolute;
  fill: #35B160;
  width: clamp(300px, 50vw, 700px);
  height: clamp(214px, 50vw, 700px);

}

.scritta {
  fill: #0D637D;
}

.forbiceDestra {
  z-index: 4;
}


.forbiceSinistra {
  z-index: 4;
}


.lineatratteggiata {
  z-index: 4;
}


.nuvola {
  z-index: 2;
}


.scritta {
  z-index: 5;
}

@keyframes build {
  from {
    left: 0
  }
  to {
    left: 1200px;
    display: none;
  }
}


@keyframes scissormove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.forbiceDestra, .forbiceSinistra {
  animation: scissormove 1.5s ease-in-out ;
}

@keyframes cut {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.cut {
  animation: cut 2s ease-in-out;
}

@keyframes movelinea {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lineatratteggiata {
  animation: movelinea 1s ease-in-out ;
}

.nuvola {
  animation: movelinea 1.25s ease-in-out ;
}


// No animation

.main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-width: 500px;
}

.title {
  height: 100px;
  width: 100%;
}

.contenuto {
  height: calc(80% - 100px);
  position: relative;
  @include CenterFlex();
  flex-direction: row;
  font-family: 'Whitney Medium';
}

.contenuto.C {
  width: 1000px;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  h1, h2, h4 {
    margin: 0;
    text-align: left;
  }
  h1 {
    font-size: clamp(40px, 5vw, 50px);
  }
  h2 {
    font-size: clamp(30px, 5vw, 30px);
  }
  h4 {
    font-size: 20px;
  }
}

.sub {
  @include CenterFlex();
  button {
    margin: 20px;
    @include Button2(200px, 100px, false);
    font-size: 40px;
  }
}

.bannerdown {
  fill: white;
  position: absolute;
  bottom: 0;
  right: 0;
  width: clamp(42.8px, 50vw, 100px);
  height: 200px;
  background-color: colors.$green_object;
  @include CenterFlex();
  svg {
    position: absolute;
    width: clamp(42.8px, 50vw, 80px);
    height: clamp(42.8px, 50vw, 80px);
  }  
}

.contenuto.C.wrap {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.fixed {
  height: 33%;
}

.wrap {
  display: flex;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  height: 100%;
  width: 100%;
  overflow: hidden;
  img {
    margin: 10px;
    flex-basis: 33%;
  }
}