@use '../../../styles/colors.scss';
.forbiceDestra,  .forbiceSinistra, .lineatratteggiata, .nuvola, .scritta {
  position: absolute;
  left: 0;
  top: 0;
  fill: #35B160;
}

.scritta {
  fill: #0D637D;
}

.forbiceDestra {
  z-index: 4;
}


.forbiceSinistra {
  z-index: 4;
}


.lineatratteggiata {
  z-index: 4;
}


.nuvola {
  z-index: 2;
}


.scritta {
  z-index: 5;
}

@keyframes build {
  from {
    left: 0
  }
  to {
    left: 1200px;
    display: none;
  }
}

.buildnuvola {
  position: absolute;
  background-color: colors.$body_color;
  width: 1100px;
  height: 1100px;
  left: 1200px;
  top: 100px;
  z-index: 3;
  animation: build .5s ease-in;
}

.forbiceDestra {
  // animation: dx 2s ease-in infinite;
}

@keyframes scissormove {
  from {
    top: 100px;
    left: 100px;
    opacity: 0;
  }
  to {
    top: 0px;
  }
}

.forbiceDestra, .forbiceSinistra {
  animation: scissormove .5s ease-in-out ;
}

@keyframes cut {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.cut {
  animation: cut 2s ease-in-out;
}

@keyframes movelinea {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lineatratteggiata {
  animation: movelinea 1s ease-in-out ;
}

.nuvola {
  animation: movelinea 1.25s ease-in-out ;
}