@use '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.main {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.title {
  position: absolute;
  z-index: 1000;
  height: 100px;
  width: 100vw;
  text-align: center;
  font-family: 'Whitney Bold';
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }
}

.earth {
  margin: 0;
}


.globe {
  margin: 0;
  width: 40px;
  canvas {
    width: 40px;
    margin: 0 !important;
    display: unset !important;
  }
  div {
    margin: 0;
    display: unset !important;
  }
}
//Menu

.menu {
  height: 100vh;
  width: 100vw;
  position: absolute;
  @include CenterFlex();
}

.grid_container {
  display: grid;
  width: 80%;
  height: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". arte ."
    "scienze . storia"
    ". religione .";
  max-width: 1000px;
  max-height: 500px;
}

.arte, .storia, .religione, .scienze {
  @include CenterFlex();
}

.arte { grid-area: arte; }
.storia { grid-area: storia; }
.religione { grid-area: religione; }
.scienze { grid-area: scienze; }






.gridCard {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 400px;
  gap: 0px 10px;
  grid-template-areas:
    "arte storia scienze religione";
}


.sfondoopaco {
  position: absolute;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: block;
}


.sfondoopaco.arte {
  background-color: colors.$green_object;
}

.sfondoopaco.storia {
  background-color: colors.$lime_object;
}
.sfondoopaco.scienze {
  background-color: colors.$quasi_giallo1;
}
.sfondoopaco.religione {
  background-color: colors.$quasi_giallo2;
}


.arte {
  grid-area: arte; 
  position: relative;
  overflow: hidden;
}
.storia { 
  grid-area: storia;
  // border: 2px black solid; in animation
  position: relative;
  overflow: hidden;

}
.scienze { 
  grid-area: scienze;
  position: relative;
  overflow: hidden;
}
.religione { 
  grid-area: religione;
  position: relative;
  overflow: hidden;
}

.titleCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  @include CenterFlex();
  color: white;
  z-index: 100;
  font-size: 3rem;
  text-transform: capitalize;
  font-family: 'Whitney Medium';
}

.insidecard {
  position: absolute;
  z-index: 90;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.textcards {
  position: absolute;
  width: 98%;
  height: 500px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px -4px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Whitney Medium';
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  h1 {
    text-transform: capitalize;
  }
  h2 {
    text-align: center;
  }
}

.arrow {
  z-index: 200;
  cursor: pointer;
  @include Button1(40px, 40px);
  fill: white;
}



.crediti {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 80px;
  font-size: 30px;
  background-color: colors.$quasi_giallo2;
  cursor: pointer;
  font-family: 'Whitney Medium';
  @include CenterFlex();
  color: white;
}






// side menu 
.buttonMenu {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  width: 50px;
  height: 50px;
  svg {
    width: 50px;
    height: 50px;  
  }
  z-index: 999;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.menuSlide {
  position: absolute;
  width: calc(400px - 40px);
  height: calc(100% - 40px);
  background-color: white;
  left: 0;
  z-index: 1000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  font-family: 'Whitney Medium';
  .menuflex {
    z-index: 1001;
    width: calc(100%);
    height: calc(100%);
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
}

.backgroundBlack {
  background-color: black;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  position: absolute;
}


.titlemenu {
  width: calc(100%);
  height: 100px;
  font-family: 'Whitney Medium';
  font-size: 30px;
  @include CenterFlex();
}

.section {
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 20px;
  div {
    position: relative;
  }
  .sectiontext {
    display: flex;    
    justify-content: right;
    cursor: pointer;
  }
}

.line.arte {
  border: 1px solid colors.$green_object;
}
.line.storia {
  border: 1px solid colors.$lime_object;
}
.line.scienze {
  border: 1px solid colors.$quasi_giallo1;
}
.line.religione {
  border: 1px solid colors.$quasi_giallo2;
}


