@import '../../../styles/mixins.scss';

.main {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.home {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  @include CenterFlex();
}

.title {
  width: 100%;
  @include CenterFlex();
  font-family: 'Whitney Bold';
}

.earth {
  margin: 0;
}

//Menu

.menu {
  height: 100vh;
  width: 100vw;
  position: absolute;
  @include CenterFlex();
}

.grid_container {
  display: grid;
  width: 80%;
  height: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". arte ."
    "scienze . storia"
    ". religione .";
  max-width: 1000px;
  max-height: 500px;
}

.arte, .storia, .religione, .scienze {
  @include CenterFlex();
}

.arte { grid-area: arte; }
.storia { grid-area: storia; }
.religione { grid-area: religione; }
.scienze { grid-area: scienze; }