@import '../../../styles/mixins.scss';
.main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-width: 500px;
}

.title {
  height: 50px;
  width: 100%;
}

.body {
  @include CenterFlex();
  width: 100%;
  height: calc(100% - 50px);
}

.flex {
  width: 624px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: 312px;
  .margin {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 2px;
  }
}