$body_color: white;
$body_color_sf1: #134C77;
$body_color_sf2: #115E82;

$blue_objects: #0F6F8C;


// Cross colors
$cross1: #21868A;
$cross2: #33A182;

$green_object: #3AC36A;
$lime_object: #63D14D;


// Verso il giallo
$quasi_giallo1: #8EDD48;
$quasi_giallo2: #C6E84A;

